* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-foodie.png);
    background-size: cover;
}

.container {
    margin-top: 8vh;
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #460651d7;
    padding: 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;  
}

.form-header {
    display: flex;  
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #720d87;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

.login-button button:hover {
    background-color: #c80cc8f1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #720d87;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-box input {
    margin: 0.1rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 20rem;
}

.input-box select {
    margin: 0.1rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 14rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #720d87;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: #720d87;
    padding: 0.62rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #c80cc8f1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .login-button button {
        padding: 0.5rem;
    }
    .continue-button {
        padding: 0.2rem;
    }
}